{% if current_user.is_superuser%}
    {% extends "admin/base.html" %}
{% else %}
    {% extends "default/base.html" %}
{% endif %}


{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='default/css/auth.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='/css/auth/login.css') }}">

    <style>
        .page {max-width: 620px;
            width: 100;
            margin: 0 auto;
            padding: 2rem 1rem; 

        }
        .card{
            max-width: 500px;
            padding: 2.6rem 3rem;

        }
    </style>



    
    <section>

        <div class="page">
            <!-- Brand -->
            <div class="brand">
            <div class="brand-logo">
                <div class="brand-icon">♻</div>
                <span class="brand-name">{{profile.user.first_name}} {{profile.user.last_name}}</span>
            </div>
            <div class="brand-tag">Local Recycling Initiative Tracker</div>
            </div>

            <!-- White card -->
            <div class="card">
                <!-- Centred heading like Image 1 -->
                <div class="card-head">
                    {% if current_user.is_superuser %}
                        <div>
                            <a href="{{url_for('/admin.dashboard')}}"><<< Dashboard</a>
                        </div>
                    {% else %}
                        <div>
                            <a href="{{url_for('/participant.dashboard')}}"><<< Dashboard</a>
                        </div>
                    {% endif %}
                    <div class="card-title">Wise Profile</div>
                    <div class="card-sub"></div>
                </div>

                <form  method="POST" action="{{url_for('/auth.account', id=profile.user.id)}}" >
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="field">
                        <label class="flabel">Name(s)</label>
                        <input type="text" name="first_name" value="{{profile.user.first_name}}" required/>
                    </div>

                    <div class="field">
                        <label class="flabel">Last Name </label>
                        <input type="text"  name="last_name" class="form-control" placeholder="Last name" value="{{profile.user.last_name}}" required/>
                    </div>

                    <div class="field">
                        <label class="flabel">Last Name </label>
                        <input type="email" name="email" class="form-control" placeholder="Email" value="{{profile.user.email}}" required/>
                    </div>

                    <div class="field">
                        <label class="flabel">Phone Number</label>
                        <input type="text"  name="PhoneNumber" class="form-control"  value="{{profile.participant.PhoneNumber}}" required/>
                    </div>
                    <div class="field">
                        <label class="flabel">Physical Address</label>
                        <input type="text"  name="PhysicalAddress" class="form-control" placeholder="" value="{{profile.participant.PhysicalAddress}}" required/>
                    </div>
                    <hr/>
                    {% if current_user.is_superuser %}
                        <p>
                            promotion
                        <p>

                        <div class="field">
                            <label class="flabel">Make admin</label>
                            <input type="checkbox" {% if profile.user.is_superuser %}checked{% endif %} name='is_superuser' required/>
                        </div>
                    {% endif %}
                

                    

                    <button type="submit" class="btn">Save</button>
                </form>
                <div class="card-footer">
                    To change the password, click <a href="{{url_for('/auth.change_password', id=profile.user.id)}}"> <b> here</b></a>.
                </div>
            

            </div>
        </div>
    </section>


   
{% endblock %}