{% extends "default/base.html" %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='default/css/auth.css') }}">
    <section class="hero">

        <div class="card">

            <div class="card-header">
                <h3>
                    <b>
                        Login
                    </b>
                </h1>
            </div>
            <div class="card-body">
                <form method="POST" action="/auth/login" class="form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Email"  required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="password" required>
                    </div>

                    <button class='btn btn-primary' type="submit">Login</button>


                </form>

            </div>

        </div>
    </section>



{% endblock %}