<link rel="stylesheet" href="{{ url_for('static', filename='default/css/base.css') }}">
<div class="logo">♻ WasteWise</div>
<hr/>

<section class="hero" id="home">

    <div class="hero-text">
      <h1>Thank you for joining ♻ WasteWise</h1>
      <p>
            To Activate you user account please click on the button "Verify email" below.
      </p>
      <div class="hero-buttons">
        <a href="#how" class="btn-green">Verify email</a>
        
      </div>
    </div>


</section>